# SAM Tool Walkthrough

In [18]:
# Import profiler functions.
import pandas as pd
import datetime

from profiler import get_info
from profiler import qualification
from profiler import risk_profile

# Import data retrieval.
from data_retrieval import import_asset_data_jupyter
from data_retrieval import format_close_price

# Import calculation functions.
from calculations import calculate_average_annual_returns
from calculations import calculate_average_annual_volatility
from calculations import calculate_daily_returns
from calculations import calculate_sharpe_ratio
from calculations import calculate_portfolio_return

# Tickers.
timeframe = "1D"
tickers = ["AGG", "SPY"]
start_date = "2010-06-01"
end_date = "2020-06-01"

# Weights per client risk profile.  
risk_profile_weights = {"conservative" : [0.1, 0.9], "moderately conservative" : [0.25, 0.7], 
                        "moderate" : [0.6, 0.3], "moderately aggressive" : [0.75, 0.2],
                        "aggressive" : [0.8, 0]}

## Retrieve Client Information

In [19]:
# Clientele information; (hardcoded since questionary cannot run in Jupyter Notebook)
cash = 10000
assets = 3000
income = 75000
liquidity = 24000

# Calculate client's net worth.
net_worth = qualification(cash, assets, income, liquidity)

# Determine client's risk profile (hardcoded since questionary cannot run in Jupyter Notebook)
risk_prof = "moderately aggressive"

Net worth: 64000
You are able to invest: 64000

## Data Retrieval

In [22]:
# Import historical financial data and retrieve closing prices.
raw_data_df = import_asset_data_jupyter(start_date, end_date, tickers, timeframe)

# Verify raw data.
raw_data_df.head(-5)

Got here

                              AGG                                       \
                             open      high      low    close   volume
time
2020-01-08 00:00:00-05:00  112.85  112.9400  112.545  112.660  3161792
2020-01-09 00:00:00-05:00  112.49  112.7900  112.460  112.790  4255663
2020-01-10 00:00:00-05:00  112.90  112.9900  112.820  112.990  3618649
2020-01-13 00:00:00-05:00  112.89  112.9400  112.825  112.890  3527509
2020-01-14 00:00:00-05:00  112.97  113.0200  112.930  113.000  2651024
...                           ...       ...      ...      ...      ...
2020-05-18 00:00:00-04:00  116.97  117.0900  116.660  116.840  9357286
2020-05-19 00:00:00-04:00  116.91  117.0255  116.810  116.975  7485700
2020-05-20 00:00:00-04:00  117.03  117.3400  117.000  117.300  7298248
2020-05-21 00:00:00-04:00  117.35  117.4750  117.320  117.360  9298498
2020-05-22 00:00:00-04:00  117.60  117.6000  117.390  117.445  5391598

                                SPY
                               open     high       low    close     volume
time
2020-01-08 00:00:00-05:00  322.9400  325.780  322.6900  324.420   53033838
2020-01-09 00:00:00-05:00  326.1600  326.730  325.5200  326.620   40652148
2020-01-10 00:00:00-05:00  327.2899  327.460  325.2000  325.700   42585254
2020-01-13 00:00:00-05:00  326.3900  327.960  325.9200  327.940   34646079
2020-01-14 00:00:00-05:00  327.4700  328.620  326.8440  327.430   51206473
...                             ...      ...       ...      ...        ...
2020-05-18 00:00:00-04:00  293.0500  296.710  292.7000  294.995  200913150
2020-05-19 00:00:00-04:00  294.3500  296.205  291.9500  292.020  157167743
2020-05-20 00:00:00-04:00  295.8200  297.870  295.5700  296.960  131889644
2020-05-21 00:00:00-04:00  296.7900  297.670  293.6886  294.790  137785798
2020-05-22 00:00:00-04:00  294.5700  295.630  293.2200  295.420  105447017

[95 rows x 10 columns]

In [21]:
# Retrieve closing prices.
raw_data_close_df = format_close_price(raw_data_df, tickers)

# Verify closing prices.
raw_data_close_df.head(-5)

                AGG      SPY
2020-01-08  112.660  324.420
2020-01-09  112.790  326.620
2020-01-10  112.990  325.700
2020-01-13  112.890  327.940
2020-01-14  113.000  327.430
...             ...      ...
2020-05-18  116.840  294.995
2020-05-19  116.975  292.020
2020-05-20  117.300  296.960
2020-05-21  117.360  294.790
2020-05-22  117.445  295.420

[95 rows x 2 columns]

## Retrieve Daily Returns

In [8]:
# Retrieve daily returns of close prices.
daily_returns_df = calculate_daily_returns(raw_data_close_df)

# Verify daily returns.
daily_returns_df.head(-5)

                 AGG       SPY
2020-01-09  0.001154  0.006781
2020-01-10  0.001773 -0.002817
2020-01-13 -0.000885  0.006877
2020-01-14  0.000974 -0.001555
2020-01-15  0.001681  0.002260
...              ...       ...
2020-05-18 -0.001624  0.030514
2020-05-19  0.001155 -0.010085
2020-05-20  0.002778  0.016917
2020-05-21  0.000512 -0.007307
2020-05-22  0.000724  0.002137

[94 rows x 2 columns]

## Retrieve Average Annual Returns

In [9]:
# Calculate average annual returns.
average_annual_returns_df = calculate_average_annual_returns(daily_returns_df)

# Verify average annual returns.
display(average_annual_returns_df)

AGG    0.113271
SPY   -0.028635
dtype: float64

## Calculate Average Annual Volatility

In [10]:
# Calculate average annual volatility.
average_annual_volatility_df = calculate_average_annual_volatility(daily_returns_df)

# Verify average annual volatility.
display(average_annual_volatility_df)

AGG    0.134925
SPY    0.497609
dtype: float64

## Calculate Sharpe Ratio

In [12]:
# Calculate Sharpe Ratios. 
print(calculate_sharpe_ratio(average_annual_returns_df, average_annual_volatility_df))

AGG    0.839510
SPY   -0.057544
dtype: float64

## Calculate Portfolio Return per Risk Profile

In [14]:
# Calculate portfolio returns per risk profile.
portfolio_return = calculate_portfolio_return(average_annual_returns_df, risk_profile_weights[risk_prof])

# Print out.
print(f"Portfolio return: {portfolio_return * 100: .2f}%")

Portfolio return:  7.92%

## Visualization Time!